<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="structured-headers">
  <description>Default PHP CodeSniffer configuration for gapple/structured-headers.</description>

  <file>src</file>
  <file>tests</file>

  <rule ref="PSR12"/>
</ruleset>
