includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - message: '#Class gapple\\Tests\\StructuredFields\\Rule has an uninitialized readonly property#'
          path: tests/Rule.php

services:
    - class: gapple\StructuredFields\PHPStan\DynamicPropertiesClassReflectionExtension
      tags:
          - phpstan.broker.propertiesClassReflectionExtension
