includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 6
    paths:
        - src
        - tests

    universalObjectCratesClasses:
        - gapple\StructuredFields\Dictionary
        - gapple\StructuredFields\Parameters

    ignoreErrors:
        -
            message: '#Unreachable statement - code above always terminates.#'
            path: src/TupleTrait.php
