includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - gapple\StructuredFields\Dictionary
        - gapple\StructuredFields\Parameters

