<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"

        failOnWarning="true"
        cacheDirectory="tmp/.phpunit.cache"
>
    <testsuites>
        <testsuite name="structured-fields tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="tmp/code-coverage"/>
            <clover outputFile="tmp/code-coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
