<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    failOnWarning="true"
    colors="true"
>
    <testsuites>
        <testsuite name="structured-fields tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <html outputDirectory="tmp/code-coverage"/>
            <clover outputFile="tmp/code-coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
